
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700,500&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>

@@if (server !== "local"){
<link rel="stylesheet" href="https://ad.csdnevnik.ru/special/staging/yandex-browser-2/css/style.css">
}
@@if (server === "local"){
<link rel="stylesheet" href="css/style.css">
}

<div class="syb" id="syb">
	
	<div class="syb__container">
		
		<div class="syb__content">

			<div class="syb__recomend">
				@@if (server !== "mosreg"){
				Дневник.ру рекомендует
				}
				@@if (server == "mosreg"){
				Школьный Портал рекомендует
				}
			</div><!-- /.syb__recomend -->

			<div class="syb__title">
				Cпециальная версия <span class="syb__title-yandex">Яндекс.Браузера</span><br />

				@@if (server !== "mosreg"){
				с Дневник.ру
				}
				@@if (server == "mosreg"){
				для Школьного Портала
				}
				
			</div><!-- /.syb__title -->

			<div class="syb__links syb-links">
				
				<ul class="syb-links__list">
					
					<li class="syb-links__item">
				
						<a href="http://download.cdn.yandex.net/downloadable_soft/browser/350734/Yandex.exe?vid=30&hash=8e5dc90ddbc9f3a7884c1757aa6ebc0c&.exe" class="syb-links__href syb-links__href--desktop syb-links__href--win" target="_self">
							<span class="syb-links__href-top">
								Скачать
							</span>
							<span class="syb-links__href-bottom">
								для Windows
							</span>
						</a>
				
					</li> <!-- /.syb-links__item -->
					
					<li class="syb-links__item">
				
						<a href="http://download.cdn.yandex.net/downloadable_soft/browser/351033/Yandex.dmg" class="syb-links__href syb-links__href--desktop syb-links__href--mac" target="_self">
							<span class="syb-links__href-top">
								Скачать
							</span>
							<span class="syb-links__href-bottom">
								для MacOS
							</span>
						</a>
				
					</li> <!-- /.syb-links__item -->
					
					<li class="syb-links__item">
				
						<a href="https://211837.measurementapi.com/serve?action=click&publisher_id=211837&site_id=50120" class="syb-links__href syb-links__href--google-play" target="_blank">
							Google Play
						</a>

						<div class="syb-links__text">
							для смартфонов на базе <br />
							Android™ 4.1 и выше
						</div><!-- /.syb-links__text -->
				
					</li> <!-- /.syb-links__item -->
					
					<li class="syb-links__item">
				
						<a href="https://211837.measurementapi.com/serve?action=click&publisher_id=211837&site_id=50360" class="syb-links__href syb-links__href--appstore" target="_blank">
							App Store
						</a>

						<div class="syb-links__text">
							для iPhone с iOS 7.0 и выше
						</div><!-- /.syb-links__text -->
				
					</li> <!-- /.syb-links__item -->
				
				</ul> <!-- /.syb-links__list -->

			</div><!-- /.syb__links -->

		</div><!-- /.syb__content -->
		
		<div class="syb__notebook syb-notebook @@if (server !== "mosreg"){syb-notebook--dnevnik} @@if (server == "mosreg"){syb-notebook--mosreg}">

			<div class="syb-notebook__text-placeholder syb-notebook__text-placeholder--1">
			
				<div class="syb-notebook__text syb-notebook__text--1">
					<p>
					@@if (server !== "mosreg"){
						Виджеты для 
						быстрого и&nbsp;удобного 
						доступа к&nbsp;основному 
						школьному 
						функционалу Дневника 
						для&nbsp;учителей
						и&nbsp;учеников прямо
						на&nbsp;уроке. 
					}
					@@if (server == "mosreg"){
					Виджеты для 
						быстрого и&nbsp;удобного 
						доступа к&nbsp;основному 
						школьному 
						функционалу Школьного&nbsp;Портала 
						для&nbsp;учителей
						и&nbsp;учеников прямо
						на&nbsp;уроке. 
					}
					</p>
				</div><!-- /.syb-notebook__text -->

			</div><!-- /.syb-notebook__text-placeholder -->


			<div class="syb-notebook__text-placeholder syb-notebook__text-placeholder--2">

				<div class="syb-notebook__text syb-notebook__text--2">
					<p>
						Включена важная функция Protect, которая защищает соединение 
						и&nbsp;предоставляет защиту от&nbsp;фишинга 
					</p>
				</div><!-- /.syb-notebook__text -->
				
				<div class="syb-notebook__text syb-notebook__text--3">
					<p>
						Намного быстрее просматривайте 
						и&nbsp;загружайте видео 
						и&nbsp;другие медиафайлы
					</p>
				</div><!-- /.syb-notebook__text -->

			</div><!-- /.syb-notebook__text-placeholder -->

		</div><!-- /.syb__notebook -->

	</div><!-- /.syb__container -->

</div><!-- /.syb -->

@@if (server !== "local"){
<script src="https://ad.csdnevnik.ru/special/staging/yandex-browser-2/js/script.js"></script>
}
@@if (server === "local"){
<script src="js/script.js"></script>
}
